path.lib            : /home/x_guimo/PROJ/git/runflex 
path.scratch_global : /proj/inversion/users/x_guimo/FLEXPART/
!path.meteo          : /scratch/local/meteo/
path.meteo          : /proj/inversion/users/x_guimo/FLEXPART/meteo/

! The lines just below could probably be moved outside the machine.rc file ...
path.options        : ${path.lib}/scripts/options
path.species        : ${path.lib}/scripts/species 
landuse.file        : ${path.lib}/data/IGBP_int1.dat
landuse.z0.file     : ${path.lib}/data/surfdata.t
surfdepo.file       : ${path.lib}/data/surfdepo.t
!path.output         : ${path.scratch_global}/output

! ========================================================================================
! FLEXPART build
path.build          : ${path.scratch_global}/build/${compiler}
path.src            : ${path.lib}/flexpart10.4
path.src.extras     : ${path.lib}/../flexpart10.4
compiler            : ifort 

! ========================================================================================
! runflex options : how many releases are grouped in one flexpart run, how many flexpart 
!    runs are launched in parallel, where are the run files copied to (path.run, ideally
!    on the local hard drive of the node), and where are the logs copied to (path.logs)
path.run            : /scratch/local/run/
path.logs           : ${path.scratch_global}/logs
ntasks.parallell    : ${SLURM_NTASKS}
run.slurm           : T

! ========================================================================================
! Meteo
meteo.archive          : rclone:flexpart:meteo/${meteogrid}
meteo.cleanup          : T
meteo.cleanup.minspace : 30   ! Minimum space that should be on disk (Gb)
meteo.cleanup.minage   : 3   ! Minimum access age of the meteo files to be deleted (hours)

! ========================================================================================
nreleases.max       : 1000
