meteo.prefix  : EA
meteo.interv  : 1
meteo.archive : rclone:swestore:FLEXPART/meteo/${meteogrid}
meteogrid     : ea.eurocom025x025
meteo.cleanup          : T
meteo.cleanup.minspace : 50   ! Minimum space that should be on disk (Gb)
meteo.cleanup.minage   : 12   ! Minimum access age of the meteo files to be deleted (hours)

!###################################################3
! Container settings
compiler            : gfortran
path.lib            : /flexpart
path.scratch_global : /tmp
path.run            : /run
path.logs           : ${HOME}/logs
path.output         : /output
path.meteo          : /meteo
run.tsp             : T

path.species        : ${path.lib}/scripts/species
landuse.file        : ${path.lib}/data/IGBP_int1.dat
landuse.z0.file     : ${path.lib}/data/surfdata.t
surfdepo.file       : ${path.lib}/data/surfdepo.t

!###################################################3
! Machine settings
ntasks.parallell : ${RUNFLEX_NCPUS}

!###################################################3
! FLEXPART settings
nreleases.max       : 1000
file.command        : ${path.lib}/scripts/options/COMMAND
file.grid           : ${path.lib}/scripts/options/OUTGRID
releases.length     : 14
releases.kindz      : 1
releases.altitude_correction : 1
releases.npart      : 10000
releases.mass       : ${releases.npart}
species.number      : 1
species.1.index     : 24
run.interactive     : F

path.build      : /build
path.src        : ${path.lib}/flexpart10.4
path.src.extras : ${path.lib}/extras/

postprocess.lumia : T
path.output.pp    : /output