! Example/template runflex configuration file
! Some environment variables need to be set:
!   - RUNFLEX_PATH        : the path of the runflex python library ==> normally this is set by the library itself
!   - RUNFLEX_SCRATCH     : temporary directory on the node where flexpart runs ==> should be set to ${SNIC_TMP} on tetralith 
!   - RUNFLEX_NCPUS       : number of parallell processes to launch
!   - RUNFLEX_INTERACTIVE : should be set to False on the interactive node and to True within jobs

! ========================================================================================
! Directories
!  - user-specific, but set automatically according to environment variables:
path.lib            : ${RUNFLEX_PATH}
path.scratch_global : /proj/flexpart_aerosol/temp/runflex !/proj/flexpart_aerosol/users/${USER}/runflex
path.scratch_local  : /proj/flexpart_aerosol/temp !${RUNFLEX_SCRATCH} !/proj/flexpart_aerosol/users/x_moasp/test !

! - user specific, adjust according to your needs
path.options        : /proj/flexpart_aerosol/runflex_moa/runflex/scripts/options
path.species        : /proj/flexpart_aerosol/runflex_moa/runflex/scripts/species 
path.output         : ${path.scratch_global}/output/

! - common to all users (normally ...)
path.inputs         : /proj/inversion/FLEXPART
path.meteo          : ${path.inputs}/meteo
landuse.file        : ${path.inputs}/IGBP_int1.dat
landuse.z0.file     : ${path.inputs}/surfdata.t
surfdepo.file       : ${path.inputs}/surfdepo.t

! ========================================================================================
! FLEXPART build
path.build          : ${path.scratch_global}/build/${compiler}
path.src            : ${path.lib}/flexpart10.4
machine             : tetralith 
compiler            : ifort

! ========================================================================================
! runflex options : how many releases are grouped in one flexpart run, how many flexpart 
!    runs are launched in parallel, where are the run files copied to (path.run, ideally
!    on the local hard drive of the node), and where are the logs copied to (path.logs)
path.run            : ${path.scratch_local}/run/
path.logs           : ${path.scratch_global}/logs
nreleases.max       : 24
ntasks.parallell    : ${RUNFLEX_NCPUS}
run.interactive     : ${RUNFLEX_INTERACTIVE}

! ========================================================================================
! FLEXPART run configuration
file.command        : ${path.options}/COMMAND
file.grid           : ${path.options}/OUTGRID
releases.length     : 5
releases.kindz      : 1 
releases.altitude_correction : 1
releases.npart      : 10000
releases.mass       : ${releases.npart}
species.number      : 1
species.1.index     : 25

! ========================================================================================
! Meteo
meteo.prefix     : EI
meteo.interv     : 3
meteo.archive    : ${path.meteo}/${meteogrid}
meteogrid        : ei.eurocom.50x50.ml60.T255.gg

